In [2]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from pathlib import Path

In [3]:
DATA_PATH = Path("./")
datasets = []
for i in DATA_PATH.glob('*.csv'):
    datasets.append(pd.read_csv(i))
print(datasets)

[     Div      Date    HomeTeam        AwayTeam  FTHG  FTAG  FTR  HTHG  HTAG  \
0     E0  16/08/14     Arsenal  Crystal Palace   2.0   1.0    H   1.0   1.0
1     E0  16/08/14   Leicester         Everton   2.0   2.0    D   1.0   2.0
2     E0  16/08/14  Man United         Swansea   1.0   2.0    A   0.0   1.0
3     E0  16/08/14         QPR            Hull   0.0   1.0    A   0.0   0.0
4     E0  16/08/14       Stoke     Aston Villa   0.0   1.0    A   0.0   0.0
..   ...       ...         ...             ...   ...   ...  ...   ...   ...
376   E0  24/05/15   Leicester             QPR   5.0   1.0    H   2.0   0.0
377   E0  24/05/15    Man City     Southampton   2.0   0.0    H   1.0   0.0
378   E0  24/05/15   Newcastle        West Ham   2.0   0.0    H   0.0   0.0
379   E0  24/05/15       Stoke       Liverpool   6.0   1.0    H   5.0   0.0
380  NaN       NaN         NaN             NaN   NaN   NaN  NaN   NaN   NaN

     HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0      D  ...     2.10  24.0  -1.50     1.81     1.78     2.20     2.10  1.29
1      A  ...     1.80  22.0   0.25     1.88     1.85     2.10     2.02  3.11
2      A  ...     2.13  25.0  -1.50     2.18     2.08     1.87     1.79  1.45
3      D  ...     1.58  24.0   0.00     1.80     1.73     2.25     2.14  2.31
4      D  ...     1.60  23.0  -0.50     1.95     1.91     2.02     1.96  2.01
..   ...  ...      ...   ...    ...      ...      ...      ...      ...   ...
376    H  ...     2.41  28.0  -1.00     1.98     1.93     1.98     1.93  1.53
377    H  ...     2.66  28.0  -1.00     2.00     1.94     2.03     1.93  1.60
378    D  ...     2.25  25.0  -0.50     1.82     1.78     2.20     2.10  1.76
379    H  ...     1.99  25.0   0.25     2.07     2.02     1.88     1.85  3.56
380  NaN  ...      NaN   NaN    NaN      NaN      NaN      NaN      NaN   NaN

     PSCD   PSCA
0    5.90  12.75
1    3.40   2.47
2    4.81   8.25
3    3.24   3.59
4    3.34   4.51
..    ...    ...
376  4.94   6.13
377  4.35   6.00
378  4.01   4.98
379  3.60   2.17
380   NaN    NaN

[381 rows x 68 columns],     Div        Date      HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  10/08/2018    Man United       Leicester     2     1   H     1     0
1    E0  11/08/2018   Bournemouth         Cardiff     2     0   H     1     0
2    E0  11/08/2018        Fulham  Crystal Palace     0     2   A     0     1
3    E0  11/08/2018  Huddersfield         Chelsea     0     3   A     0     2
4    E0  11/08/2018     Newcastle       Tottenham     1     2   A     1     2
..   ..         ...           ...             ...   ...   ...  ..   ...   ...
375  E0  12/05/2019     Liverpool          Wolves     2     0   H     1     0
376  E0  12/05/2019    Man United         Cardiff     0     2   A     0     1
377  E0  12/05/2019   Southampton    Huddersfield     1     1   D     1     0
378  E0  12/05/2019     Tottenham         Everton     2     2   D     1     0
379  E0  12/05/2019       Watford        West Ham     1     4   A     0     2

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0     H  ...     1.79    17  -0.75     1.75     1.70     2.29     2.21  1.55
1     H  ...     1.83    20  -0.75     2.20     2.13     1.80     1.75  1.88
2     A  ...     1.87    22  -0.25     2.18     2.11     1.81     1.77  2.62
3     A  ...     1.84    23   1.00     1.84     1.80     2.13     2.06  7.24
4     A  ...     1.81    20   0.25     2.20     2.12     1.80     1.76  4.74
..   ..  ...      ...   ...    ...      ...      ...      ...      ...   ...
375   H  ...     2.31    22  -1.50     1.98     1.91     2.01     1.95  1.32
376   A  ...     2.95    21  -2.00     2.52     2.32     1.72     1.64  1.30
377   H  ...     2.29    22  -1.50     2.27     2.16     1.80     1.73  1.37
378   H  ...     2.07    19  -0.50     2.13     2.08     1.85     1.80  1.91
379   A  ...     2.44    19  -0.50     2.25     2.19     1.78     1.72  2.11

     PSCD  PSCA
0    4.07  7.69
1    3.61  4.70
2    3.38  2.90
3    3.95  1.58
4    3.53  1.89
..    ...   ...
375  5.89  9.48
376  6.06  9.71
377  5.36  8.49
378  3.81  4.15
379  3.86  3.41

[380 rows x 62 columns],     Div        Date   Time          HomeTeam        AwayTeam  FTHG  FTAG FTR  \
0    E0  12/09/2020  12:30            Fulham         Arsenal     0     3   A
1    E0  12/09/2020  15:00    Crystal Palace     Southampton     1     0   H
2    E0  12/09/2020  17:30         Liverpool           Leeds     4     3   H
3    E0  12/09/2020  20:00          West Ham       Newcastle     0     2   A
4    E0  13/09/2020  14:00         West Brom       Leicester     0     3   A
..   ..         ...    ...               ...             ...   ...   ...  ..
375  E0  23/05/2021  16:00         Liverpool  Crystal Palace     2     0   H
376  E0  23/05/2021  16:00          Man City         Everton     5     0   H
377  E0  23/05/2021  16:00  Sheffield United         Burnley     1     0   H
378  E0  23/05/2021  16:00          West Ham     Southampton     3     0   H
379  E0  23/05/2021  16:00            Wolves      Man United     1     2   A

     HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
0       0     1  ...     1.84  0.75      2.01      1.89   2.02   1.91
1       1     0  ...     1.70  0.25      1.78      2.13   1.79   2.17
2       3     2  ...     2.62 -1.50      1.85      2.05   1.85   2.08
3       0     0  ...     1.92 -0.50      2.03      1.87   2.04   1.88
4       0     0  ...     1.73  0.25      1.92      1.98   1.93   1.99
..    ...   ...  ...      ...   ...       ...       ...    ...    ...
375     1     0  ...     3.49 -2.25      1.86      2.04   1.88   2.03
376     2     0  ...     2.77 -1.75      2.01      1.89   1.99   1.89
377     1     0  ...     2.05  0.00      2.04      1.86   2.05   1.86
378     2     0  ...     2.14 -0.75      2.00      1.90   2.02   1.91
379     1     2  ...     1.62 -0.25      2.04      1.86   2.10   1.84

     MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
0       2.13     1.92     2.02     1.87
1       1.85     2.18     1.79     2.12
2       1.90     2.16     1.84     2.04
3       2.09     1.91     2.02     1.86
4       1.95     2.01     1.91     1.97
..       ...      ...      ...      ...
375     1.98     2.14     1.88     2.00
376     2.20     2.00     2.03     1.85
377     2.17     1.90     2.03     1.84
378     2.06     2.01     1.99     1.89
379     2.10     1.94     2.00     1.88

[380 rows x 106 columns],     Div        Date   Time    HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  \
0    E0  13/08/2021  20:00   Brentford         Arsenal     2     0   H     1
1    E0  14/08/2021  12:30  Man United           Leeds     5     1   H     1
2    E0  14/08/2021  15:00     Burnley        Brighton     1     2   A     1
3    E0  14/08/2021  15:00     Chelsea  Crystal Palace     3     0   H     2
4    E0  14/08/2021  15:00     Everton     Southampton     3     1   H     0
..   ..         ...    ...         ...             ...   ...   ...  ..   ...
261  E0  05/03/2022  15:00     Norwich       Brentford     1     3   A     0
262  E0  05/03/2022  15:00      Wolves  Crystal Palace     0     2   A     0
263  E0  05/03/2022  17:30   Liverpool        West Ham     1     0   H     1
264  E0  06/03/2022  14:00     Watford         Arsenal     2     3   A     1
265  E0  06/03/2022  16:30    Man City      Man United     4     1   H     2

     HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
0       0  ...     1.62  0.50      1.75      2.05   1.81   2.13     2.05
1       0  ...     2.25 -1.00      2.05      1.75   2.17   1.77     2.19
2       0  ...     1.62  0.25      1.79      2.15   1.81   2.14     1.82
3       0  ...     1.94 -1.50      2.05      1.75   2.12   1.81     2.16
4       1  ...     1.67 -0.50      2.05      1.88   2.05   1.88     2.08
..    ...  ...      ...   ...       ...       ...    ...    ...      ...
261     1  ...     1.69  0.25      1.81      2.09   1.83   2.11     1.95
262     2  ...     1.50 -0.25      2.00      1.90   2.02   1.91     2.04
263     0  ...     3.00 -2.00      2.05      1.75   2.11   1.79     2.23
264     2  ...     1.94  1.00      1.98      1.92   2.01   1.92     2.07
265     1  ...     2.40 -1.25      1.94      1.96   1.95   1.97     1.99

     MaxCAHA  AvgCAHH  AvgCAHA
0       2.17     1.80     2.09
1       1.93     2.10     1.79
2       2.19     1.79     2.12
3       1.93     2.06     1.82
4       1.90     2.03     1.86
..       ...      ...      ...
261     2.15     1.81     2.09
262     2.02     1.99     1.88
263     1.93     2.12     1.77
264     1.96     1.97     1.91
265     2.18     1.86     2.03

[266 rows x 106 columns],     Div        Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0    E0  08/08/2015  Bournemouth  Aston Villa     0     1   A     0     0   D
1    E0  08/08/2015      Chelsea      Swansea     2     2   D     2     1   H
2    E0  08/08/2015      Everton      Watford     2     2   D     0     1   A
3    E0  08/08/2015    Leicester   Sunderland     4     2   H     3     0   H
4    E0  08/08/2015   Man United    Tottenham     1     0   H     1     0   H
..   ..         ...          ...          ...   ...   ...  ..   ...   ...  ..
375  E0  15/05/2016        Stoke     West Ham     2     1   H     0     1   A
376  E0  15/05/2016      Swansea     Man City     1     1   D     1     1   D
377  E0  15/05/2016      Watford   Sunderland     2     2   D     0     1   A
378  E0  15/05/2016    West Brom    Liverpool     1     1   D     1     1   D
379  E0  17/05/2016   Man United  Bournemouth     3     1   H     1     0   H

     ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0    ...     1.79    26  -0.50     1.98     1.93     1.99     1.92  1.82
1    ...     1.99    27  -1.50     2.24     2.16     1.80     1.73  1.37
2    ...     1.96    26  -1.00     2.28     2.18     1.76     1.71  1.75
3    ...     1.67    26  -0.50     2.00     1.95     1.96     1.90  1.79
4    ...     2.01    26  -1.00     2.20     2.09     1.82     1.78  1.64
..   ...      ...   ...    ...      ...      ...      ...      ...   ...
375  ...     2.27    30   0.25     2.11     2.03     1.87     1.83  3.05
376  ...     2.45    31   1.00     2.14     2.05     1.85     1.81  7.05
377  ...     2.10    29  -0.50     2.06     2.01     1.91     1.85  1.64
378  ...     2.09    30  -0.25     2.10     2.05     1.86     1.81  2.61
379  ...     2.20    29  -0.75     1.88     1.84     2.08     2.02  1.50

     PSCD   PSCA
0    3.88   4.70
1    5.04  10.88
2    3.76   5.44
3    3.74   5.10
4    4.07   6.04
..    ...    ...
375  4.00   2.26
376  5.00   1.47
377  4.52   5.27
378  3.75   2.70
379  4.60   7.03

[380 rows x 65 columns],     Div        Date        HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  11/08/2017         Arsenal     Leicester     4     3   H     2     2
1    E0  12/08/2017        Brighton      Man City     0     2   A     0     0
2    E0  12/08/2017         Chelsea       Burnley     2     3   A     0     3
3    E0  12/08/2017  Crystal Palace  Huddersfield     0     3   A     0     2
4    E0  12/08/2017         Everton         Stoke     1     0   H     1     0
..   ..         ...             ...           ...   ...   ...  ..   ...   ...
375  E0  13/05/2018       Newcastle       Chelsea     3     0   H     1     0
376  E0  13/05/2018     Southampton      Man City     0     1   A     0     0
377  E0  13/05/2018         Swansea         Stoke     1     2   A     1     2
378  E0  13/05/2018       Tottenham     Leicester     5     4   H     1     2
379  E0  13/05/2018        West Ham       Everton     3     1   H     1     0

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA   PSCH  \
0     D  ...     2.32    21  -1.00     1.91     1.85     2.10     2.02   1.49
1     D  ...     2.27    20   1.50     1.95     1.91     2.01     1.96  11.75
2     A  ...     2.23    20  -1.75     2.03     1.97     1.95     1.90   1.33
3     A  ...     1.72    18  -0.75     2.10     2.05     1.86     1.83   1.79
4     H  ...     1.76    19  -0.75     1.94     1.90     2.01     1.98   1.82
..   ..  ...      ...   ...    ...      ...      ...      ...      ...    ...
375   H  ...     2.01    21   1.00     1.90     1.83     2.11     2.03   4.85
376   D  ...     2.49    20   1.25     2.01     1.95     1.97     1.91   6.32
377   A  ...     2.06    19  -0.50     1.94     1.88     2.03     1.98   2.08
378   A  ...     2.84    20  -1.50     1.96     1.86     2.05     2.00   1.38
379   H  ...     1.97    21  -0.25     2.09     2.03     1.88     1.84   2.35

     PSCD   PSCA
0    4.73   7.25
1    6.15   1.29
2    5.40  12.25
3    3.56   5.51
4    3.49   5.42
..    ...    ...
375  3.72   1.80
376  4.78   1.51
377  3.56   3.82
378  5.50   8.15
379  3.40   3.28

[380 rows x 65 columns],     Div      Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0    E0  17/08/13      Arsenal  Aston Villa     1     3   A     1     1   D
1    E0  17/08/13    Liverpool        Stoke     1     0   H     1     0   H
2    E0  17/08/13      Norwich      Everton     2     2   D     0     0   D
3    E0  17/08/13   Sunderland       Fulham     0     1   A     0     0   D
4    E0  17/08/13      Swansea   Man United     1     4   A     0     2   A
..   ..       ...          ...          ...   ...   ...  ..   ...   ...  ..
375  E0  11/05/14      Norwich      Arsenal     0     2   A     0     0   D
376  E0  11/05/14  Southampton   Man United     1     1   D     1     0   H
377  E0  11/05/14   Sunderland      Swansea     1     3   A     0     2   A
378  E0  11/05/14    Tottenham  Aston Villa     3     0   H     3     0   H
379  E0  11/05/14    West Brom        Stoke     1     2   A     0     1   A

     ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0    ...     2.37   NaN    NaN      NaN      NaN      NaN      NaN  1.44
1    ...     2.02   NaN    NaN      NaN      NaN      NaN      NaN  1.42
2    ...     1.82   NaN    NaN      NaN      NaN      NaN      NaN  3.81
3    ...     1.77   NaN    NaN      NaN      NaN      NaN      NaN  2.52
4    ...     1.98   NaN    NaN      NaN      NaN      NaN      NaN  3.62
..   ...      ...   ...    ...      ...      ...      ...      ...   ...
375  ...     2.36  25.0   0.75     1.85     1.80     2.12     2.07  4.97
376  ...     2.12  27.0   0.00     1.90     1.86     2.06     1.99  2.77
377  ...     1.94  24.0  -0.50     2.40     2.30     1.68     1.63  2.19
378  ...     2.36  29.0  -1.00     1.86     1.77     2.20     2.10  1.47
379  ...     1.96  25.0  -0.25     1.85     1.76     2.18     2.11  2.18

     PSCD   PSCA
0    5.00   8.05
1    4.62  10.19
2    3.27   2.21
3    3.23   3.16
4    3.41   2.22
..    ...    ...
375  4.29   1.70
376  3.92   2.47
377  3.60   3.50
378  4.75   7.64
379  3.69   3.44

[380 rows x 68 columns],     Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG FTR  \
0    E0  09/08/2019  20:00       Liverpool           Norwich     4     1   H
1    E0  10/08/2019  12:30        West Ham          Man City     0     5   A
2    E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1   D
3    E0  10/08/2019  15:00         Burnley       Southampton     3     0   H
4    E0  10/08/2019  15:00  Crystal Palace           Everton     0     0   D
..   ..         ...    ...             ...               ...   ...   ...  ..
375  E0  26/07/2020  16:00       Leicester        Man United     0     2   A
376  E0  26/07/2020  16:00        Man City           Norwich     5     0   H
377  E0  26/07/2020  16:00       Newcastle         Liverpool     1     3   A
378  E0  26/07/2020  16:00     Southampton  Sheffield United     3     1   H
379  E0  26/07/2020  16:00        West Ham       Aston Villa     1     1   D

     HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
0       4     0  ...     3.43 -2.25      1.91      1.99   1.94   1.98
1       0     1  ...     2.91  1.75      1.95      1.95   1.96   1.97
2       0     0  ...     1.92 -0.50      1.95      1.95   1.98   1.95
3       0     0  ...     1.71  0.00      1.87      2.03   1.89   2.03
4       0     0  ...     1.71  0.25      1.82      2.08   1.97   1.96
..    ...   ...  ...      ...   ...       ...       ...    ...    ...
375     0     0  ...     2.03  0.50      1.89      2.01   1.88   2.05
376     2     0  ...     5.77 -3.75      2.03      1.87   2.01   1.88
377     1     1  ...     2.40  1.00      1.94      1.96   1.95   1.97
378     0     1  ...     2.01 -0.50      1.97      1.93   2.00   1.93
379     0     0  ...     2.03  0.00      1.93      1.97   1.95   1.98

     MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
0       1.99     2.07     1.90     1.99
1       2.07     1.98     1.97     1.92
2       2.00     1.96     1.96     1.92
3       1.90     2.07     1.86     2.02
4       2.03     2.08     1.96     1.93
..       ...      ...      ...      ...
375     1.94     2.05     1.86     2.02
376     2.06     1.88     2.02     1.84
377     2.03     2.00     1.95     1.92
378     2.03     1.96     1.98     1.89
379     1.99     2.00     1.93     1.95

[380 rows x 106 columns],     Div      Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  13/08/16         Burnley         Swansea     0     1   A     0     0
1    E0  13/08/16  Crystal Palace       West Brom     0     1   A     0     0
2    E0  13/08/16         Everton       Tottenham     1     1   D     1     0
3    E0  13/08/16            Hull       Leicester     2     1   H     1     0
4    E0  13/08/16        Man City      Sunderland     2     1   H     1     0
..   ..       ...             ...             ...   ...   ...  ..   ...   ...
375  E0  21/05/17       Liverpool   Middlesbrough     3     0   H     1     0
376  E0  21/05/17      Man United  Crystal Palace     2     0   H     2     0
377  E0  21/05/17     Southampton           Stoke     0     1   A     0     0
378  E0  21/05/17         Swansea       West Brom     2     1   H     0     1
379  E0  21/05/17         Watford        Man City     0     5   A     0     4

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA   PSCH  \
0     D  ...     1.61    32  -0.25     2.13     2.06     1.86     1.81   2.79
1     D  ...     1.52    33  -0.50     2.07     2.00     1.90     1.85   2.25
2     H  ...     1.77    32   0.25     1.91     1.85     2.09     2.00   3.64
3     H  ...     1.67    31   0.25     2.35     2.26     2.03     1.67   4.68
4     H  ...     2.48    34  -1.50     1.81     1.73     2.20     2.14   1.25
..   ..  ...      ...   ...    ...      ...      ...      ...      ...    ...
375   H  ...     2.73    18  -2.50     2.02     1.97     1.95     1.90   1.15
376   H  ...     1.81    19  -0.25     2.19     2.11     1.85     1.79   2.35
377   D  ...     2.01    18  -0.75     2.03     1.98     1.93     1.88   1.64
378   A  ...     1.98    19  -0.50     2.11     2.06     1.86     1.82   2.29
379   A  ...     2.80    18   1.75     1.99     1.94     2.00     1.93  18.00

      PSCD   PSCA
0     3.16   2.89
1     3.15   3.86
2     3.54   2.16
3     3.50   1.92
4     6.50  14.50
..     ...    ...
375  10.50  19.09
376   3.38   3.35
377   4.37   5.53
378   3.45   3.40
379   9.70   1.16

[380 rows x 65 columns]]

In [4]:
df = pd.DataFrame()
for season in datasets:
    df = pd.concat([df, season.loc[:, ["HomeTeam", "AwayTeam", "FTR"]].dropna()])
df

        HomeTeam        AwayTeam FTR
0        Arsenal  Crystal Palace   H
1      Leicester         Everton   D
2     Man United         Swansea   A
3            QPR            Hull   A
4          Stoke     Aston Villa   A
..           ...             ...  ..
375    Liverpool   Middlesbrough   H
376   Man United  Crystal Palace   H
377  Southampton           Stoke   A
378      Swansea       West Brom   H
379      Watford        Man City   A

[3306 rows x 3 columns]

In [5]:
X = df[["HomeTeam", "AwayTeam"]]
y = df[["FTR"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [6]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

In [8]:
model = LogisticRegression()
reg = model.fit(X_train, y_train)
reg.score(X_test, y_test)

/home/rohan/miniconda3/envs/ML1/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5241935483870968

In [9]:
OHE_teams = list(X_train.columns)
OHE_teams

['HomeTeam_Arsenal',
 'HomeTeam_Aston Villa',
 'HomeTeam_Bournemouth',
 'HomeTeam_Brentford',
 'HomeTeam_Brighton',
 'HomeTeam_Burnley',
 'HomeTeam_Cardiff',
 'HomeTeam_Chelsea',
 'HomeTeam_Crystal Palace',
 'HomeTeam_Everton',
 'HomeTeam_Fulham',
 'HomeTeam_Huddersfield',
 'HomeTeam_Hull',
 'HomeTeam_Leeds',
 'HomeTeam_Leicester',
 'HomeTeam_Liverpool',
 'HomeTeam_Man City',
 'HomeTeam_Man United',
 'HomeTeam_Middlesbrough',
 'HomeTeam_Newcastle',
 'HomeTeam_Norwich',
 'HomeTeam_QPR',
 'HomeTeam_Sheffield United',
 'HomeTeam_Southampton',
 'HomeTeam_Stoke',
 'HomeTeam_Sunderland',
 'HomeTeam_Swansea',
 'HomeTeam_Tottenham',
 'HomeTeam_Watford',
 'HomeTeam_West Brom',
 'HomeTeam_West Ham',
 'HomeTeam_Wolves',
 'AwayTeam_Arsenal',
 'AwayTeam_Aston Villa',
 'AwayTeam_Bournemouth',
 'AwayTeam_Brentford',
 'AwayTeam_Brighton',
 'AwayTeam_Burnley',
 'AwayTeam_Cardiff',
 'AwayTeam_Chelsea',
 'AwayTeam_Crystal Palace',
 'AwayTeam_Everton',
 'AwayTeam_Fulham',
 'AwayTeam_Huddersfield',
 'AwayTeam_Hull',
 'AwayTeam_Leeds',
 'AwayTeam_Leicester',
 'AwayTeam_Liverpool',
 'AwayTeam_Man City',
 'AwayTeam_Man United',
 'AwayTeam_Middlesbrough',
 'AwayTeam_Newcastle',
 'AwayTeam_Norwich',
 'AwayTeam_QPR',
 'AwayTeam_Sheffield United',
 'AwayTeam_Southampton',
 'AwayTeam_Stoke',
 'AwayTeam_Sunderland',
 'AwayTeam_Swansea',
 'AwayTeam_Tottenham',
 'AwayTeam_Watford',
 'AwayTeam_West Brom',
 'AwayTeam_West Ham',
 'AwayTeam_Wolves']

In [10]:
def PredictTeam(HomeTeam_Name, AwayTeam_Name):
    test_dataframe = [0]*64
    test_dataframe[OHE_teams.index(HomeTeam_Name)] = 1
    test_dataframe[OHE_teams.index(AwayTeam_Name)] = 1
    return test_dataframe

In [11]:
# prediction_df = [OHE_teams, PredictTeam("HomeTeam_Man United", "HomeTeam_Arsenal")]
# prediction_df = pd.DataFrame(prediction_df)
# prediction_df
# reg.predict(prediction_df)